PIL==1.1.7
Django==1.4
South==0.7.6
argparse==1.2.1
cmsplugin-blog==1.1.2.post.0
cmsplugin-contact==1.0.0
cmsplugin-filer==0.9
distribute==0.6.28
django-admin-tools==0.4.1
django-appconf==0.5
django-classy-tags==0.3.4.1
django-cms==2.3.3
django-filer==0.9
django-missing==0.1.8
django-mptt==0.5.2
django-polymorphic==0.2
django-reversion==1.6.3
django-sekizai==0.6.1
django-tagging==0.3.1
djangocms-utils==0.9.5
easy-thumbnails==1.1
psycopg2==2.4.2
gunicorn==0.13.4
dj-database-url==0.2.0
html5lib==0.95
simple-translation==0.8.6
wsgiref==0.1.2
