{% extends "base.html" %}
{% load cms_tags menu_tags %}

{% block base_content %}
{% placeholder template_inicio_content %}

<!-- Header and Nav -->

<div class="row">
	<div class="three columns">
		<h1>{% placeholder "logo" %}</h1>
	</div>
	<div class="nine columns">
		<ul class="nav-bar right">
			{% show_menu 0 100 100 100 %}
		</ul>
	</div>
</div>
<!-- End Header and Nav -->

<!-- First Band (Slider) -->
<!-- The Orbit slider is initialized at the bottom of the page by calling .orbit() on #slider -->

<div class="row">
	<div class="twelve columns">
		<div id="slider">
			{% placeholder "banner_central" %}
		</div>
		<hr />
	</div>
</div>

<!-- Three-up Content Blocks -->


<div class="row">

	<div class="four columns">
		{% placeholder "primeira_sessao_img" %}
		<p>{% placeholder "primeira_sessao_text" %}</p>
	</div>

	<div class="four columns">
		{% placeholder "segunda_sessao_img" %}
		{% placeholder "segunda_sessao_text" %}
	</div>

	<div class="four columns">
		{% placeholder "terceira_sessao_img" %}
		{% placeholder "terceira_sessao_text" %}
	</div>

</div>


<!-- Call to Action Panel -->
<div class="row">
	<div class="twelve columns">

		<div class="panel">
			<h4>Get in touch!</h4>

			<div class="row">
				<div class="nine columns">
					<p>We'd love to hear from you, you attractive person you.</p>
				</div>
				<div class="three columns">
					<a href="/contato" class="radius button right">Contact Us</a>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}